In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import pandasql as psql
pd.set_option('display.max_columns',None)

In [2]:
# Load the general dataset

cprice = pd.read_csv(r"C:\Users\sruth\Downloads\archive (1)\CarPrice_Assignment.csv",header=0)

# Copy to back-uo file

cprice_01 = cprice.copy()

# Display first 5 records

cprice.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
cprice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [4]:
car=cprice.drop(['CarName','fueltype','aspiration','doornumber','carbody','drivewheel','enginelocation','enginetype','cylindernumber','fuelsystem'],axis='columns')

In [5]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   wheelbase         205 non-null    float64
 3   carlength         205 non-null    float64
 4   carwidth          205 non-null    float64
 5   carheight         205 non-null    float64
 6   curbweight        205 non-null    int64
 7   enginesize        205 non-null    int64
 8   boreratio         205 non-null    float64
 9   stroke            205 non-null    float64
 10  compressionratio  205 non-null    float64
 11  horsepower        205 non-null    int64
 12  peakrpm           205 non-null    int64
 13  citympg           205 non-null    int64
 14  highwaympg        205 non-null    int64
 15  price             205 non-null    float64
dtypes: float64(8), int64(8)
memory usage: 25.8 KB

In [6]:
car['price'].value_counts()

8921.0     2
9279.0     2
7898.0     2
8916.5     2
7775.0     2
          ..
45400.0    1
16503.0    1
5389.0     1
6189.0     1
22625.0    1
Name: price, Length: 189, dtype: int64

In [7]:
car.isnull().sum()

car_ID              0
symboling           0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginesize          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [8]:
car.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [9]:
car_d=car[car.duplicated(keep='last')]
car_d

Empty DataFrame
Columns: [car_ID, symboling, wheelbase, carlength, carwidth, carheight, curbweight, enginesize, boreratio, stroke, compressionratio, horsepower, peakrpm, citympg, highwaympg, price]
Index: []

In [10]:
car.shape

(205, 16)

In [11]:
car.head()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0

In [12]:
car.columns

Index(['car_ID', 'symboling', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginesize', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [13]:
# identify independent and target variable
IndepVar=[]
for col in car.columns:
    if col!="price":
        IndepVar.append(col)
TargetVar="price"

x=car[IndepVar]
y=car[TargetVar]

In [14]:
# Split the data into train and test (random sampling)

from sklearn.model_selection import train_test_split 

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

# Display the shape for train & test datasets

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((143, 15), (62, 15), (143,), (62,))

In [15]:
# Scaling the features by using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler

mmscaler = MinMaxScaler(feature_range=(0, 1))

x_train = mmscaler.fit_transform(x_train)
x_train = pd.DataFrame(x_train)

x_test = mmscaler.fit_transform(x_test)
x_test = pd.DataFrame(x_test)

# Regression Algorithm

In [29]:
#train the algorithm and build the model with train dataset
from sklearn.linear_model import LinearRegression
#create an object for regression model
model=LinearRegression()
#train the model with training dataset
model.fit(x_train,y_train)
#predict the model with test dataset
y_pred=model.predict(x_test)

In [30]:
#evaluation metrics for  the regression model
from sklearn import metrics
print("mean absolute error:",round(metrics.mean_absolute_error(y_test,y_pred),3))
print("mean squared error:",round(metrics.mean_squared_error(y_test,y_pred),3))
print("root mean squared error:",round(np.sqrt(metrics.mean_squared_error(y_test,y_pred)),3))
print("R2 score:",round(metrics.r2_score(y_test,y_pred),3))
print("mean absolute percentage error:",round(metrics.mean_absolute_percentage_error(y_test,y_pred)*100,3),'%')
print("root mean square log error:",round(np.log(np.sqrt(metrics.mean_squared_error(y_test,y_pred))),3))

mean absolute error: 4086.181
mean squared error: 23072563.356
root mean squared error: 4803.391
R2 score: 0.667
mean absolute percentage error: 38.249 %
root mean square log error: 8.477

# KNN Algorithm

In [31]:
from sklearn.neighbors import KNeighborsRegressor
model=KNeighborsRegressor()
#train the model with training dataset
model.fit(x_train,y_train)
#predict the model with test dataset
y_pred=model.predict(x_test)

In [32]:
#evaluation metrics for  the regression model
from sklearn import metrics
print("mean absolute error:",round(metrics.mean_absolute_error(y_test,y_pred),3))
print("mean squared error:",round(metrics.mean_squared_error(y_test,y_pred),3))
print("root mean squared error:",round(np.sqrt(metrics.mean_squared_error(y_test,y_pred)),3))
print("R2 score:",round(metrics.r2_score(y_test,y_pred),3))
print("mean absolute percentage error:",round(metrics.mean_absolute_percentage_error(y_test,y_pred)*100,3),'%')
print("root mean square log error:",round(np.log(np.sqrt(metrics.mean_squared_error(y_test,y_pred))),3))

mean absolute error: 2625.662
mean squared error: 15003684.821
root mean squared error: 3873.459
R2 score: 0.783
mean absolute percentage error: 18.839 %
root mean square log error: 8.262

# Decision Tree Algorithm

In [33]:
from sklearn.tree import DecisionTreeRegressor
#create an object for regression model
model=DecisionTreeRegressor()
#train the model with training dataset
model.fit(x_train,y_train)
#predict the model with test dataset
y_pred=model.predict(x_test)

In [34]:
#evaluation metrics for  the regression model
from sklearn import metrics
print("mean absolute error:",round(metrics.mean_absolute_error(y_test,y_pred),3))
print("mean squared error:",round(metrics.mean_squared_error(y_test,y_pred),3))
print("root mean squared error:",round(np.sqrt(metrics.mean_squared_error(y_test,y_pred)),3))
print("R2 score:",round(metrics.r2_score(y_test,y_pred),3))
print("mean absolute percentage error:",round(metrics.mean_absolute_percentage_error(y_test,y_pred)*100,3),'%')
print("root mean square log error:",round(np.log(np.sqrt(metrics.mean_squared_error(y_test,y_pred))),3))

mean absolute error: 4053.788
mean squared error: 37115910.261
root mean squared error: 6092.283
R2 score: 0.464
mean absolute percentage error: 30.77 %
root mean square log error: 8.715

# Random forest Algorithm

In [35]:
from sklearn.ensemble import RandomForestRegressor
#create an object for regression model
model=RandomForestRegressor()
#train the model with training dataset
model.fit(x_train,y_train)
#predict the model with test dataset
y_pred=model.predict(x_test)

In [36]:
#evaluation metrics for  the regression model
from sklearn import metrics
print("mean absolute error:",round(metrics.mean_absolute_error(y_test,y_pred),3))
print("mean squared error:",round(metrics.mean_squared_error(y_test,y_pred),3))
print("root mean squared error:",round(np.sqrt(metrics.mean_squared_error(y_test,y_pred)),3))
print("R2 score:",round(metrics.r2_score(y_test,y_pred),3))
print("mean absolute percentage error:",round(metrics.mean_absolute_percentage_error(y_test,y_pred)*100,3),'%')
print("root mean square log error:",round(np.log(np.sqrt(metrics.mean_squared_error(y_test,y_pred))),3))

mean absolute error: 3615.104
mean squared error: 24975610.91
root mean squared error: 4997.56
R2 score: 0.64
mean absolute percentage error: 30.57 %
root mean square log error: 8.517

# Extra Trees Algorithm

In [37]:
from sklearn.ensemble import ExtraTreesRegressor
model=ExtraTreesRegressor()
#train the model with training dataset
model.fit(x_train,y_train)
#predict the model with test dataset
y_pred=model.predict(x_test)

In [38]:
#evaluation metrics for  the regression model
from sklearn import metrics
print("mean absolute error:",round(metrics.mean_absolute_error(y_test,y_pred),3))
print("mean squared error:",round(metrics.mean_squared_error(y_test,y_pred),3))
print("root mean squared error:",round(np.sqrt(metrics.mean_squared_error(y_test,y_pred)),3))
print("R2 score:",round(metrics.r2_score(y_test,y_pred),3))
print("mean absolute percentage error:",round(metrics.mean_absolute_percentage_error(y_test,y_pred)*100,3),'%')
print("root mean square log error:",round(np.log(np.sqrt(metrics.mean_squared_error(y_test,y_pred))),3))

mean absolute error: 3844.65
mean squared error: 22106769.84
root mean squared error: 4701.784
R2 score: 0.681
mean absolute percentage error: 33.358 %
root mean square log error: 8.456

# **At last the Extra Trees Algorithm is best Algorithm**